
.platforms {
  max-width: 270px;
  margin-left: auto;
  margin-right: auto;
}

.platform {
  flex: 1;
  text-align: center;
  margin-bottom: 20px;
}

.link {
  font-size: 28px;
  line-height: 55px;
}
