
@import '../variables.css';

.root {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 64px;
  z-index: 300;
}

@media (min-width: 768px) {
  .root {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .root {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .root {
    width: 1180px;
  }
}
