
@import url(https://fonts.googleapis.com/css?family=Fira+Mono|Roboto:400,300);
@import '../variables.css';

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--grey);
  margin: 0;
  color: var(--white);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 15px;
  margin-top: 30px;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 200;
  text-align: center;
}
