
@import '../variables.css';

.team {
  margin-top: 15px;
}

.member {
  flex: 1;
  justify-content: center;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  line-height: 21px;
}

@media (max-width: 765px) {
  .member {
    margin-bottom: 20px;
    flex: 50%;
  }
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  font-weight: 400;
}

.link {
  color: var(--white);
  border-bottom: 1px solid #8B8A8E;
  text-decoration: none;
}

.markdown a {
  color: var(--white);
  border-bottom: 1px solid #8B8A8E;
  text-decoration: none;
}
