
@import '../variables.css';

html {
  margin: 0;
}

.indicator {
  position: relative;
  margin-bottom: 10px;
  width: 100%;
  height: 25px;
  background-color: var(--red);
  z-index: 400;
  text-align: center;
  font-size: 13px;
  line-height: 25px;
  color: var(--white);
  animation-timing-function: cubic-bezier(.02,.77,.39,.96);
  will-change: top, opacity;  
}

.offline {
    top: -25px;
    animation: slide-down 0.5s forwards;
    opacity: 0;
}

@keyframes slide-down {
    100% { 
      top: 0;
      opacity: 1;
    }
}

.online {
    top: 0;
    opacity: 1;
    margin-bottom: 0;
    animation: slide-up 0.5s forwards;
}

@keyframes slide-up {
    100% { 
      top: -25px;
      opacity: 0;
    }
}
