
@import '../variables.css';

.root {
  display: flex;
  flex-direction: column;
  height: 495px;
  padding: 0 20px;
  background: url('../../media/background.jpg') center center;
  background-size: cover;
  color: var(--white);
}

@media (max-width: 767px) {
  .root {
    background-position: 60%;
    height: 535px;
  }
}

@media (max-width: 433px) {
  .root {
    height: 560px;
  }
}

@media (max-width: 333px) {
  .root {
    height: 600px;
  }
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  transition: all 0.25s ease-in;
}

.title {
  font-size: 36px;
  font-weight: 500;
  line-height: 42px;
  text-align: right;
  margin-right: 65px;
}

.date {
  margin-top: 65px;
  font-size: 24px;
  font-weight: 300;
}

.highlight {
  padding-bottom: 5px;
  border-bottom: 1px solid var(--red);
}

.button {
  margin-top: 22px;
}
