
@import '../variables.css';

@keyframes pulse {
  from, to {
    opacity: 1
  }
  50% {
    opacity: 0
  }
}

.root {
  position: relative;
  display: flex;
  height: 30px;
  font-family: 'Fira Mono';
  font-size: 24px;
}

.text {
  margin-left: 57px;
  text-shadow: 1px 1px 3px black;
}

.cursor {
  display: inline-block;
  width: 2.5px;
  height: 24px;
  padding-top: 6px;
  margin-left: 4px;
  background-color: var(--red);
  animation: pulse 1.25s ease-out infinite;
}
